* {
    box-sizing: border-box;
}
 body {
     background-color: #191970;

 }

 header {
    background-color: #1E90FF;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
 }

 header > div.info > ul {
    list-style: none;
 }